h1 {
    display: block;
    direction: center;
    font-family: Tahoma;
    font-size: 8px;
    letter-spacing: 6px;

}
h2 {
    direction: center;
    font-family: Tahoma;
    font-size: 10px;
    letter-spacing: 6px;
}

h3 {
    display: block;
    direction: center;
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 6px;
}

.wishParent {
    display: flex;
    border-radius: 8px;
    padding: 2%;
    margin: .2em;
    /* width: 880px; */
}
.card-content {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
    padding: 2%;
    margin: .2em;
    width: 800px;
}
.container
 {
    display: flex;
    justify-content: center, space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    margin: 50px auto;
    width: 840px;
    padding: 50px 860px;
}

.prodImg {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px auto;
    height: auto;
    width: 200px;
    padding: 1px 0px;
}
.button {
    display: flex;
    height: 60 !important;
    width: 80!important;
    background-color: #7F7F7F !important;
}
a,
a:link,
a:visited {
    color: white;
    text-decoration: none;
}