
h2 {
	direction: center;
	font-family: Tahoma;
	font-size: 10px;
	letter-spacing: 6px;
}

h3 {
	display: block;
	direction: center;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 6px;
}
.wish-block {
    display: flex;
    justify-content: center;
	padding: 2%;
	margin: 0.2em;
}

.cardProdPrice,
.rating,
.cardProdName  {
	display: flex;
	border-radius: 8px;
	padding: 1%;
	margin: 0em;
}
.name,
.price,
.rate {
    color: white;
	font-family: Tahoma;
	font-size: 18px;
	letter-spacing: 3px;
}
.card-content {
    display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: transparent;
	width: 700px;
}
.wishCard {
   	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
    background-image: url(../../images/work.jpeg);
    opacity: 0.7;
    border: 1px solid white;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 700px;
	width: 100%; 
}

.prodImg {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 50px auto;
	height: auto;
	width: 200px;
	padding: 0px 0px;
}
