
.container {
    display: flex;
    justify-content: center, space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    margin: 50px auto;
    width: 840px;
    padding: 50px 860px;
}
.text-block {
    display: flex;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 2%;
    margin: .2em;
    width: 880px;
}
.imgSpan {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px auto;
    width: 80px;
    padding: 1px 0px;
}

.wishListDash, .collectionListDash,.searchListDash {
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 6px;
}
a {
    text-decoration: none;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}