.text-block {
    /* border-radius: 8px; */
    /* display: flex; */
    /* flex-direction: row; */
    padding: 1.5%;
    /* margin: 0.2em; */
    width: 950px;
}

.linkSearch .linkWish .linkCollection {
	display: flex;
	justify-content: flex-start;
}

.searchListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/searorwish.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 400px;
	width: 100%;
}
.wishListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/yellow.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 400px;
	width: 100%;
}
.collectionListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/pink.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 400px;
	width: 100%;
}
.apiDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: row; */
	justify-content: center;
	background-image: url(../../images/api.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 800px;
	width: 100%;
}
a,
a:link,
a:visited {
	color: #7f7f7f;
	text-decoration: none !important;
}


.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


.button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: Transparent !important;
    color: #d563a3;
    border-color: #d563a3;
    padding: 15px 32px;
    cursor: pointer;
    font-size: 15px !important;
    letter-spacing: 4px !important;
    outline: 0px;
	border: 0px;
	-webkit-appearance: button;

}