
.text-block {
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2%;
	margin: 0.2em;
	width: 895px;
}

.linkSearch .linkWish .linkCollection {
	display: flex;
	justify-content: flex-start;
}

.wishListDash,
.collectionListDash,
.searchListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	font-family: Tahoma;
	font-size: 20px;
    letter-spacing: 4px;
    width: 100%;
}
a,
a:link,
a:visited {
	color: #7F7F7F;
	text-decoration: none !important;
}
