.text-block {
    display: flex;
    justify-content: center;
	padding: .8%;
	margin: 0.2em;
}
.linkSearch .linkWish .linkCollection {
	display: flex;
	justify-content: flex-start;
	text-shadow : 2px 2px black !important;
}
body {
	background-image: url("../../images/bgmaybe.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center bottom;
	background-size: 1400px, auto; 
}
.searchListDash,
.wishListDash, 
.collectionListDash {
  opacity: 0.8;
  border: 2px solid white;
}
.apiDash {
  opacity: 0.8;
  border: 2px solid white;
}
.searchListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/bwsearch.jpeg);
	background-size: 1100px, auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 280px;
	width: 950px;
}
.wishListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/lips.jpeg);
	background-size: 950px, auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 290px;
	width: 950px;
}
.collectionListDash {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	justify-content: center;
	background-image: url(../../images/shadow.jpg);
	background-size: 950px, auto;
	background-repeat: no-repeat;
	background-position: center;
	height: 290px;
	width: 950px;
}

.apiDash {
	display: flex;
	padding: 4%;
    width: 950px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
	background-image: url(../../images/apinew.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover; 
	min-height: 800px;
}

/* link */

h3 {
  font-family: "Tahoma";
  color: #202020;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 30px;
  line-height: 30px;
  color: white;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}