.active-pink-2 input[type="text"]:focus:not([readOnly]) {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
}
.container
.card-searchResults {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	background-color: transparent;
	justify-content: space-between;
	margin: 0.2em;
}
.background-search {
	background-image: url("../../images/bg.jpg");
	background-position: cover; 
	background-size: 800px, auto;

}
.makeup-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: "transparent";
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	padding: 2em;
	min-height: 800px;
	width: 100%;
}

.save-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;

}
.searchBtnDiv {	
	width: 800px;
}
.btn-secondary
.button {
    background-color: black; 
    opacity: .8 !important;
    color: white !important;
    cursor: pointer !important;
    border-color: white !important;
    width: 160px;
	height: 60px;
}
.wideBtn {
	width: 220px;
	margin: 1em;
}
.nameField {
	display: flex;
	width: 780px;
	display: block;
	font-family: Tahoma;
	font-size: 16px;
	letter-spacing: 4px;
}
.descriptionField 
.priceField {
	display: flex;
	width: 780px;
	display: block;
	font-family: Tahoma;
	font-size: 14px;
	letter-spacing: 3px;
}
.imgSpan {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	width: 20em;
	padding: 0px 20px;
}
.noResults {
	color: white;
	display: block;
	font-family: Tahoma;
	font-size: 22px;
	letter-spacing: 3px;
}
.form-control {
	display: flex;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 6px;
}
.form-control,
.populateSearch {
	display: flex;
	margin: 20px auto;
	width: 100%;
	padding: 2px 4px !important;
	padding-bottom: 5px !important;
}
a,
a:link,
a:visited {
	color: white !important;
	text-decoration: none !important;
}

.apiImage {
	height: 400px;
}
