
.active-pink-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
h3 {
    display: block;
    direction: center;
    font-family: Tahoma;
    font-size: 15px;
    letter-spacing: 6px;
}

.container-cards {
    display: flex;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 2%;
    margin: .2em;
    width: 850px;
}

.searchContainer {
    display: flex;
    justify-content: center, space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 0px;
    margin: 50px auto;
    width: 840px;
    padding: 1px 0px;
}
a {
    text-decoration: none;
}
a:link {
    color: rgba(39, 37, 28, 0.877);
}
a:visited {
    color: rgba(39, 37, 28, 0.877);
}