.active-pink-2 input[type="text"]:focus:not([readOnly]) {
	border-bottom: 1px solid #f48fb1;
	box-shadow: 0 1px 0 0 #f48fb1;
}
.card-searchResults {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-color: white;
	padding: 2%;
	margin: 0.2em;
	width: 800px;
}
.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-content: center;
	background-image: url(../../images/api.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 800px;
	width: 100%;
}

.btn {
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 180px;
	height: 50px;
}
.save-btn
.btn-secondary
.button {
	background-color: rgba(255, 255, 255, 0.068) !important;
	color: #d563a3 !important;
	padding: 15px 32px !important;
	text-align: center !important;
	cursor: pointer !important;
	font-size: 15px !important;
	letter-spacing: 4px !important;
	outline: 0px;
	border: 2px;
	border-color: #d563a3;
}
.nameField {
	display: flex;
	width: 780px;
	display: block;
	font-family: Tahoma;
	font-size: 16px;
	letter-spacing: 4px;
}
.descriptionField {
	display: flex;
	width: 780px;
	display: block;
	font-family: Tahoma;
	font-size: 14px;
	letter-spacing: 3px;
}

.imgSpan {
	display: flex;
	justify-content: center;
	margin: 20px auto;
	width: 20em;
	padding: 0px 20px;
}

.form-control {
	display: flex;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 6px;
}
.form-control,
.populateSearch {
	display: flex;
	margin: 20px auto !important;
	width: 800px !important;
	padding: 2px 4px !important;
	padding-bottom: 5px !important;
}

a,
a:link,
a:visited {
	color: #7f7f7f;
	text-decoration: none !important;
}

.apiImage {
	height: 400px;
}
