
h2 {
	direction: center;
	font-family: Tahoma;
	font-size: 10px;
	letter-spacing: 6px;
}

h3 {
	display: block;
	direction: center;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 6px;
}

.wish-block,
.collection-block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
	padding: 1%;
	margin: 0.2em;
}

.cardProdPrice,
.rating,
.cardProdName  {
	display: flex;
	border-radius: 8px;
	padding: 1%;
	margin: 0em;
}
.name,
.price,
.rate {
    color: white;
	font-family: Tahoma;
	font-size: 18px;
	letter-spacing: 3px;
}
.wish-
.card-content {
    display: flex;
    justify-content: space-between;
	flex-direction: column;
	border-radius: 8px;
	background-color: transparent;
	width: 700px;
}
.wishCard,
.collectCard {
   	display: flex;
	margin: 1%;
    background-image: url(../../images/work.jpeg);
    opacity: 0.8;
    border: 1px solid white;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 650px;
	width: 30%; 
}
.wishCard {
    height: 600px;
    width: 30%; 
}
.wishParent,
.collectionParent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prodImg {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 50px auto;
	height: auto;
	width: 200px;
	padding: 0px 0px;
}

.button {
    background-color: black; 
    opacity: .8 !important;
    color: white !important;
    cursor: pointer !important;
    border-color: white !important;
    width: 140px;
	height: 40px;
}

.form-control, .populateSearch,
.noteFormInput
{
    width: 100%;
    margin: 0px;
}


