h1 {
	display: block;
	direction: center;
	font-family: Tahoma;
	font-size: 6px;
	letter-spacing: 6px;
}
h2 {
	direction: center;
	font-family: Tahoma;
	font-size: 10px;
	letter-spacing: 6px;
}

h3 {
	display: block;
	direction: center;
	font-family: Tahoma;
	font-size: 15px;
	letter-spacing: 6px;
}

.collection-block {
	display: flex;
	border-radius: 8px;
	padding: 2%;
	margin: 0.2em;
	/* width: 880px; */
}

.cardProdPrice {
	display: flex;
	border-radius: 2px;
	padding: 2%;
	margin: 0.4em;
}
.rating{
	display: flex;
	border-radius: 2px;
	padding: 2%;
	margin: 0.4em;
}
.cardProdPrice {
	display: flex;
	border-radius: 2px;
	padding: 2%;
	margin: 0.4em;
}
.cardProdName  {
	display: flex;
	border-radius: 8px;
	padding: 0%;
	margin: 0.4em;
}
.card-content {
	/* display: flex; */
	flex-direction: column;
	border-radius: 8px;
	background-color: transparent !important;
	padding: 2%;
	margin: 0.2em;
	width: 800px;
}
.collectCard{
   	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: row; */
	justify-content: center;
	background-image: url(../../images/wishSplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Tahoma;
	font-size: 20px;
	letter-spacing: 4px;
	height: 800px;
	width: 100%; 
}

.prodImg {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin: 50px auto;
	height: auto;
	width: 200px;
	padding: 1px 0px;
}
a,
a:link,
a:visited {
	color: #7f7f7f;
	text-decoration: none !important;
}
.btn {
	display: flex;
	align-content: center;
	width: 200px;
	height: 60px;
}
.button {
	background-color: Transparent !important;
	color: #d563a3 !important;
	padding: 15px 32px !important;
	text-align: center !important;
	cursor: pointer !important;
	font-size: 15px !important;
	letter-spacing: 4px !important;
	outline: 0px;
	border: 2px;
}






/* COMMENT BOX */
.commentBox {
    box-shadow: 0px 9px 0px 0px rgba(255, 255, 255, 0), 0px -9px 0px 0px rgba(255, 255, 255, 0), 10px 0px 30px 0px rgba(0, 0, 0, 0.15), -10px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width: 400px;
    min-height: 150px;
    position: relative;
    margin: 15px auto;
    padding: 20px;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
}

.commentForm {
    margin-bottom: 55px;
}

.group {
    position: relative;
    margin-top: 25px;
}

.input {
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 485px;
    color: #ccc;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

label {
    color: #ccc;
    font-size: 15px;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
.active {
    top: -10px;
    font-size: 12px;
    color: #E91E63;
}

.bar {
    position: relative;
    display: block;
    width: 400px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #E91E63;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

input[type='submit'] {
    border: 1px solid #E91E63;
    color: #E91E63;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 10px;
    background-color: transparent;
    outline: 0;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

input[type='submit']:hover {
    color: #fff;
    background-color: #E91E63;
}

.comment {
    padding: 15px;
    min-height: 48px;
    margin-bottom: 10px;
    background-color: #E91E63;
}

.comment:hover {
    color: rgba(0, 39, 59, .35);
    background-color: #C2185B;
}

.commentAuthor {
    color: #fff;
}

.commentBody {
    color: #fff;
}
