.navbar-logout, .navbar-brand {
    font-family: Tahoma;
    font-size: 18px;
    letter-spacing: 4px;
    border: 0;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 70px;
}
.logout {
    display: inline-block;
    vertical-align: top, left;
    width: auto;
    height: 70px;
    cursor: pointer;
}
