.navbar-logout, .navbar-brand {
    border: 0;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 70px;
}
.logout {
    display: inline-block;
    vertical-align: top, left;
    width: auto;
    height: 70px;
    cursor: pointer;
}
.navbar{
    margin-bottom: -30px;
}

