body {
	background-color: black !important;
}
.authButton {
	background-color: Transparent !important;
	color: #d563a3;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
	font-size: 20px !important;
	letter-spacing: 4px !important;
	border: 0px;
}
.cancelButton,
.saveButton {
	background-color: rgb(101, 89, 154) !important;;
    color: white !important;
    cursor: pointer !important;
    border-color: white !important;
}

.authContainer {
	display: flex;
	align-self: center;
	justify-content: center;
	background-image: url(../../images/splash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 900px;
}
.inputPassword,
.modal-body,
.modal-footer,
.modalHeader,
.inputEmail.com,
.formgrid {
	background-color: rgb(67, 57, 97);
	font-family: Tahoma;
	font-size: 18px;
	letter-spacing: 2px;
}
a,
a:link,
a:visited {
	color: white;
	text-decoration: none;
	border: 0px;
	outline: none;
}
button:focus {
	outline: 0px !important;
}
