.authButton {
	background-color: Transparent !important;
	color: #d563a3;
	padding: 15px 32px;
	text-align: center;
	cursor: pointer;
	font-size: 15px !important;
	letter-spacing: 4px !important;
	outline: 0px;
	border: 0px;
}

.authContainer {
	display: flex;
	align-self: center;
	justify-content: center;
	background-image: url(../../images/splash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	width: 980px;
}

a,
a:link,
a:visited {
	color: white;
	text-decoration: none;
	border: 0px;
	outline: none;
}
button:focus {
	outline: 0px !important;
}
